
<br />
<h4 class="mb-4">User List</h4>
<table>
  <tr>
    <th >First name</th>
    <th >Last name</th>
    <th >Username</th>
    <th>E-mail</th>
    <th class="col-1"></th>
    <th class="col-1"></th>
  </tr>
  <tr *ngFor="let user of userList">
    <td>{{ user.firstName }}</td>
    <td>{{ user.lastName }}</td>
    <td>{{ user.userName }}</td>
    <td>{{ user.email }}</td>
    <td>
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="remove(user)"
      >
        delete
      </button>
    </td>
    <td>
      <app-modalWindow [parentName]="'edit'">
        <app-edit [data]="user" (onSubmitE)="editUserParent($event, user)"></app-edit>
      </app-modalWindow>
    </td>
  </tr>
</table>
