<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Close click')" id="closeButton"></button>
	</div>
	<div class="modal-body">
    <ng-content></ng-content>
	</div>
	<div class="modal-footer">
    <!-- <button type="submit" class="btn btn-outline-dark" (click)="c('Save click')"  form="profileFormHash">Save</button> -->
		<button type="submit" class="btn btn-outline-dark" [attr.form]='parentName'>Save</button>
		<!-- <button type="button" class="btn btn-outline-dark" (click)="submitForm()">Save</button> -->
	</div>
</ng-template>

<button class="btn btn-outline-primary" (click)="open(content)">Edit</button>
